DATABASE_URL=postgresql://postgres:ArthurPC2026@gestao-obras-db.chw022sq8xhb.us-east-2.rds.amazonaws.com:5432/postgres?sslmode=require
DATABASE_URL_RDS=postgresql://postgres:ArthurPC2026@gestao-obras-db.chw022sq8xhb.us-east-2.rds.amazonaws.com:5432/postgres?sslmode=require
EMAIL_TO_LIST=
RESEND_API_KEY=
SMTP_FROM=